.add-on-products__title {
  margin: 0 0 34px;
  padding: 24px 20px 0;

  font-size: 1.5em;
  border-top: 1px solid @line-grey;
}

.add-on-products__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
