.advantage__description {
  display: flex;
  align-items: center;
  margin: 0;

  font-size: 14px;
  line-height: 18px;

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;

    width: 60px;
    height: 60px;
    margin-right: 20px;

    background-color: @green;
  }
}

@media (min-width: @tablet-width) {
  .advantage__description {
    width: 265px;
    display: block;
    position: relative;

    font-size: 16px;
    line-height: 24px;

    &::before {
      width: 80px;
      height: 80px;

      margin-bottom: 31px;
    }

    &::after {
      content: "";
      display: block;

      position: absolute;
      top: 0;
      right: 15px;
      z-index: -5;

      width: 136px;
      height: 228px;

      background-color: @basic-grey;
    }
  }
}
