.catalog__products {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;

  list-style: none;
}

.catalog__card-see-more {
  padding: 25px 20px 0;

  border-top: 1px solid @line-grey;
}

@media (min-width: @tablet-width) {
  .catalog__products {
    margin-bottom: 58px;
    padding: 0 30px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 60px;
    align-items: end;
  }

  .catalog__card-see-more {
    padding: 64px 37px 0;

    border: 1px solid @line-grey;
  }
}

@media (min-width: @desktop-width) {
  .catalog__container {
    width: 1440px;
    box-sizing: border-box;

    margin: 0 auto;
    padding: 0 110px;
  }

  .catalog__products {
    margin-bottom: 64px;
    padding: 0;

    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 63px;
  }
}
