.content__title {
  margin: 0;

  .font-oswald(36px);
  line-height: 36px;
  text-transform: none;
}

.content__promo-banner {
  margin-bottom: 20px;
}

.content__advantages {
  margin-bottom: 49px;
}

.content__form {
  margin-bottom: 32px;

  .font-oswald();
  text-transform: uppercase;

  border-top: 1px solid @line-header-grey;
}

.content__event-promo {
  margin: 0 0 35px;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .content__promo-banner {
    margin-bottom: 0;
  }

  .content__catalog-choosing {
    margin-bottom: 45px;
  }

  .content__advantages {
    margin-bottom: 103px;
  }

  .content__story {
    border-top: 1px solid @line-menu-grey;
  }

  .content__event-promo {
    padding: 0 30px;
  }
}
