.data-item__title {
  font-size: 0.75em;
  line-height: 1em;
  color: @special-dark-grey;

  text-transform: lowercase;
}

.data-item__data {
  .font-oswald-regular(1.5em);
  line-height: 1em;

  text-transform: uppercase;
}
