.fields-group__title {
  padding: 0 20px;

  font-size: 24px;
  line-height: 26px;
  text-transform: none;
}

.fields-group__inputs {
  margin: 0 0 10px;
  padding: 0 20px;
  list-style: none;
}

.fields-group__choice {
  margin: 0 0 20px;
  padding: 17px 20px 0;
  list-style: none;
}

.fields-group__comment-wrapper {
  display: flex;

  margin-bottom: 9px;
  padding: 38px 20px 0;
}

.fields-group__comment {
  height: 123px;
  resize: vertical;
}
