.fields-group {
  padding-right: 20px;
  padding-left: 20px;
}

.fields-group__title {
  padding: 0;

  font-size: 24px;
  line-height: 26px;
  text-transform: none;
}

.fields-group__inputs {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
}

.fields-group__choice {
  margin: 0 0 20px;
  padding: 17px 0 0;
  list-style: none;
}

.fields-group__comment-wrapper {
  display: flex;

  margin-bottom: 9px;
  padding: 38px 0 0;
}

.fields-group__comment {
  height: 123px;
  resize: vertical;
}

@media (min-width: @tablet-width) {
  .fields-group {
    padding-right: 70px;
    padding-left: 70px;
  }

  .fields-group {
    &__choice--with-border {
      padding: 23px 27px 27px;
      border: 1px solid @border-input-grey;
    }
  }
}
