.field-contact-info__title {
  margin-bottom: 35px;
}

@media (min-width: @tablet-width) {
  .field-contact-info__title {
    margin-bottom: 77px;
  }
}

@media (min-width: @desktop-width) {
  .field-contact-info__title {
    margin-bottom: 75px;
  }
}
