@media (min-width: @tablet-width) {
  .field-related-products__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
    row-gap: 32px;

    margin: 0;
    padding: 0;
  }

  .field-related-products__item {
    flex-basis: 50%;
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .field-related-products__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}
