.food-strategy {
  margin-bottom: 20px;
  padding: 24px 20px 0;

  background-color: @basic-grey;
}

.food-strategy__title {
  margin: 0 0 22px;
  display: flex;
  align-items: center;

  .font-oswald(24px);
  line-height: 37px;
  text-transform: uppercase;

  &::before {
    content: "";
    display: block;

    width: 50px;
    height: 50px;
    margin-right: 20px;

    background-color: @green;
    border-radius: 50%;
  }
}

.food-strategy__text {
  margin-top: 0;
  margin-bottom: 22px;

  font-size: 14px;
  line-height: 18px;
}

@media (min-width: @tablet-width) {
  .food-strategy {
    margin-bottom: 30px;
    padding: 77px 29px 0 53px;
  }

  .food-strategy__container {
    margin-bottom: 41px;
  }

  .food-strategy__title {
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      display: none;
    }
  }

  .food-strategy__text {
    margin-bottom: 40px;

    font-size: 16px;
    line-height: 24px;
  }
}
