.food-program__wrapper {
  display: grid;
  justify-items: center;

  padding: 28px 20px 0;
}

.food-program__title {
  margin: 0;
  margin-bottom: 0.3em;

  text-align: center;
}

.food-program__text {
  margin-bottom: 29px;

  .font-oswald-regular(0.87em);
  line-height: 1em;
  text-transform: uppercase;
}

.food-program__image {
  margin-bottom: 3px;
}

.food-program__link {
  width: 100%;
  padding: 0.63em 0;

  .font-oswald-regular();
  line-height: 1.25em;

  text-transform: uppercase;
  text-align: center;
}

.food-program__background {
  background-color: @green;
  color: @white;
}
