.info-row__title {
  font-size: 12px;
  line-height: 12px;

  color: @special-dark-grey;
  font-weight: 400;
}

.info-row__price {
  font-size: 12px;
  line-height: 12px;

  color: @special-dark-grey;
}

@media (min-width: @tablet-width) {
  .info-row__title {
    font-size: 16px;
    line-height: 20px;

    padding: 0 0 4px;
  }

  .info-row__price {
    font-size: 16px;
    line-height: 20px;

    padding: 0 0 4px;
  }
}
