.information {
  padding: 27px 15px 24px 20px;
  display: flex;

  &--white-background {
    background-color: @white;
  }
}

.information__call-to-action {
  margin: 0;
  margin-right: 15px;

  .font-oswald-regular();
  line-height: 20px;
  color: @dark-grey;
  text-transform: uppercase;
}

.information__address {
  font-size: 14px;
  line-height: 20px;
  color: @special-dark-grey;

  font-style: normal;
}
