.information {
  padding: 26px 20px;
  display: flex;

  &--white-background {
    background-color: @white;
  }
}

.information__call-to-action {
  width: 140px;
  margin: 0;

  .font-oswald();
  line-height: 20px;
  color: @dark-grey;
  text-transform: uppercase;
}

.information__address {
  width: 140px;

  font-size: 14px;
  font-style: normal;
  line-height: 20px;
  color: @special-dark-grey;
}

@media (min-width: (@mobile-width + 5)) {
  .information {
    justify-content: space-between;
  }
}

@media (min-width: @tablet-width) {
  .information__address {
    text-align: right;
  }
}
