.information {
  &--white-background {
    background-color: @white;
  }
}

.information__call-to-action {
  .font-oswald-regular(1.25em);
  line-height: 1.62em;
  color: @dark-grey;

  text-transform: uppercase;
}

.information__address {
  font-size: 0.87em;
  line-height: 1.25em;
  color: @special-dark-grey;

  font-style: normal;
}
