.inputs__name {
  color: @special-dark-grey;
}

.inputs__input {
  .font-oswald-regular(1em);
  line-height: 1.12em;
  color: @special-dark-grey;

  text-transform: uppercase;

  &::placeholder {
    color: @special-dark-grey;
  }
}
