.logotype {
  display: flex;
  align-items: center;
}

.logotype__image {
  margin-right: 56px;
}

@media (min-width: @tablet-width) {
  .logotype__image {
    width: 60px;
    height: 50px;

    margin-right: 13px;
  }
}
