.main-features__title {
  width: 70%;

  margin-top: 0;
  margin-bottom: 15px;
  padding-top: 22px;
}

.main-features__list {
  width: 100%;
  border-collapse: collapse;
}

.main-features__item {
  display: flex;
  justify-content: space-between;

  margin-bottom: 2px;
}
