.menu-links {
  background-color: @white;
}

.menu-links__item {
  border-bottom: 1px solid @line-menu-grey;
}

.menu-links__link {
  display: block;
  padding: 18px 0 17px;

  transition: opacity linear 0.2s;

  .font-oswald(20px);
  color: @black;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    opacity: 0.6;
  }

  &:focus,
  &:focus-visible {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .menu-links__item {
    margin-right: 32px;
    border: 0;
  }

  .menu-links__link {
    padding-bottom: 7px;
    font-size: 18px;

    &--current {
      box-shadow: 0 2px @green;
    }
  }
}

@media (min-width: @desktop-width) {
  .menu-links {
    background-color: initial;
  }

  .menu-links__item {
    margin-right: 0;
    margin-left: 33px;
  }

  .menu-links__link {
    font-size: 20px;

    &--white {
      color: @white;
    }

    &--current.menu-links__link--white {
      box-shadow: 0 2px @white;
    }
  }
}
