.menu-links {
  background-color: @white;
}

.menu-links__item {
  border-bottom: 1px solid @line-menu-grey;
}

.menu-links__link {
  display: block;
  padding: 18px 0 17px;

  .font-oswald(20px);
  color: @black;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .menu-links__item {
    margin-right: 34px;
    border: 0;
  }

  .menu-links__link {
    padding-bottom: 7px;
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .menu-links__item {
    margin-right: 0;
    margin-left: 33px;
  }

  .menu-links__link {
    font-size: 20px;
  }
}
