.page {
  background-color: @white;
  color: @black;
}

.page__body {
  margin: 0 auto;
  overflow-x: hidden;

  .font-lato-regular();
}

.page__header {
  padding: 13px 20px 14px;
}

.page__title {
  margin-bottom: 40px;
  padding: 27px 20px 0;

  border-top: 1px solid @line-header-grey;
}

@media (max-width: @tablet-width - 1) {
  .site-header--nojs {
    &.page__header {
      padding: 13px 0 0;
    }
  }
}

@media (min-width: @tablet-width) {
  .page__header {
    margin-bottom: 19px;

    padding-top: 18px;
    padding-right: 0;
    padding-left: 30px;
  }

  .page__title {
    margin-bottom: 84px;
    padding: 27px 30px 0;

    border-top: none;
  }
}

@media (min-width: @desktop-width) {
  .page__header {
    width: 1220px;
    margin: 0 auto 57px;

    padding-top: 51px;
    padding-left: 0;
  }

  .page__title {
    width: 1220px;

    margin: 0 auto 84px;
    padding: 0;
  }
}
