.product__description-link {
  grid-area: image;
}

.product__info {
  margin-bottom: 21px;

  grid-area: info;
}

.product__order-link {
  padding: 10px 0;
  margin-bottom: 24px;

  .font-oswald(16px);
  line-height: 20px;

  text-transform: uppercase;
  text-align: center;

  grid-area: button;
}

@media (min-width: @tablet-width) {
  .product__order-link {
    width: 100%;
    margin-bottom: 0;
  }
}
