.products__card {
  padding: 0 20px;

  display: grid;
  grid-template-areas:
    "image info"
    "button button";
  grid-template-columns: repeat(2, 1fr);
  row-gap: 19px;

  border-top: 1px solid @line-grey;
}

@media (min-width: @tablet-width) {
  .products__card {
    padding: 10px 37px 0;

    // justify-items: center;
    grid-template-areas:
      "image"
      "info"
      "button";
    grid-template-columns: 1fr;
    row-gap: 22px;

    border: none;
    background: linear-gradient(0deg, fade(@basic-grey, 100%) 0%, fade(@basic-grey, 100%) 84%, fade(@basic-grey, 0%) 84%);
  }
}
