.questionnaire-form {
  display: flex;
  flex-direction: column;
}

.questionnaire-form__title {
  margin-bottom: 37px;

  padding-top: 27px;
  padding-left: 20px;
}

.questionnaire-form__call-to-action {
  width: 75%;
  padding-left: 20px;
  margin: 0 0 39px;

  font-size: 14px;
  line-height: 18px;
}

.questionnaire-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &--with-bottom-border {
    border-bottom: 1px solid @line-header-grey;
  }
}

.questionnaire-form__disclaimer {
  align-self: center;

  .font-lato-regular(14px);
  line-height: 14px;
  text-transform: none;
}

.questionnaire-form__button {
  width: calc(100% - 40px);
  display: block;

  margin-top: 15px;
  margin-bottom: 23px;
  padding: 8px;
  align-self: center;

  .font-oswald();
  text-transform: uppercase;

  border: none;
}
