.questionnaire-form__call-to-action {
  font-size: 0.87em;
  line-height: 1.3em;
}

.questionnaire-form__disclaimer {
  .font-lato-regular(0.87em);
  line-height: 1em;
  text-transform: none;
}

.questionnaire-form__button {
  .font-oswald-regular();
  text-transform: uppercase;

  border: none;
}
