.questionnaire-form__title {
  margin-bottom: 37px;

  padding-top: 27px;
  padding-right: 20px;
  padding-left: 20px;
}

.questionnaire-form__call-to-action {
  padding: 0 20px;
  margin: 0 0 39px;

  font-size: 14px;
  line-height: 18px;
}

.questionnaire-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;

  &--with-border {
    border-top: 1px solid @line-header-grey;
    border-bottom: 1px solid @line-header-grey;
  }
}

.questionnaire-form__footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 14px 20px 0;
}

.questionnaire-form__button {
  width: 100%;
  display: block;

  margin-bottom: 23px;
  padding: 8px;
  align-self: center;

  .font-oswald();
  text-transform: uppercase;

  border: none;
}

.questionnaire-form__disclaimer {
  display: block;

  .font-lato-regular(14px);
  line-height: 14px;
  text-transform: none;
}

@media (min-width: @tablet-width) {
  .questionnaire-form__title {
    margin-bottom: 54px;

    padding-right: 70px;
    padding-left: 70px;
  }

  .questionnaire-form__call-to-action {
    margin-bottom: 66px;
    padding-right: 70px;
    padding-left: 70px;

    font-size: 20px;
    line-height: 30px;
  }

  .questionnaire-form__fieldset {
    margin-bottom: 65px;

    &--with-border {
      border: none;
    }
  }

  .questionnaire-form__footer {
    flex-direction: row;

    padding-top: 0;
    padding-right: 70px;
    padding-left: 70px;
  }

  .questionnaire-form__button {
    width: 284px;

    margin-right: 60px;
    margin-bottom: 0;
    padding-top: 14px;
    padding-bottom: 14px;

    font-size: 20px;
    line-height: 26px;
  }

  .questionnaire-form__disclaimer {
    font-size: 16px;
    line-height: 16px;
  }
}
