.short-cards__title {
  margin: 0 0 0.55em;
  padding-top: 11px;

  .font-oswald-regular();
  line-height: 1.25em;
  color: @card-title-grey;

  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid @line-grey;
}

.short-cards__card {
  padding: 0 20px;
  margin-bottom: 18px;
}

.short-cards__info-row {
  margin: 0 0 14px;
}

.short-cards__order-link {
  padding: 0.62em;

  .font-oswald-regular(1em);
  line-height: 1.25em;

  text-transform: uppercase;
  text-align: center;
}
