.short-cards__title {
  .font-oswald-regular();
  line-height: 1.25em;
  color: @card-title-grey;

  text-transform: uppercase;
  text-decoration: none;
}

.short-cards__order-link {
  .font-oswald-regular(1em);
  line-height: 1.25em;

  text-transform: uppercase;
}
