.short-cards__title {
  margin: 0 0 9px;

  .font-oswald();
  line-height: 20px;
  color: @card-title-grey;

  text-transform: uppercase;
  text-decoration: none;
}

.short-cards__card {
  padding-top: 11px;
  border-top: 1px solid @line-grey;
}

.short-cards__info-row {
  margin: 0 0 14px;
}

.short-cards__order-link {
  padding: 10px;
  margin-bottom: 18px;

  .font-oswald();
  line-height: 20px;

  text-transform: uppercase;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .short-cards__card {
    padding: 26px 38px 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    border: 1px solid @line-grey;
    border-top: none;

    &:first-child {
      border-top: 1px solid @line-grey;
    }
  }

  .short-cards__order-link {
    margin-bottom: 28px;
    grid-column: 1 / -1;
  }
}
