.site-footer {
  background-color: @basic-grey;
}

.site-footer__map {
  margin-bottom: 40px;

  display: flex;
  align-items: center;
  overflow: hidden;
}

.site-footer__map-image {
  width: 100%;
}

.site-footer__links {
  padding: 0 20px 40px;
}

@media (min-width: @tablet-width) {
  .site-footer__map {
    height: 400px;
    margin-bottom: 43px;

    background-color: @spacial-grey;
  }
}

@media (min-width: @desktop-width) {
  .site-footer__info {
    width: 1220px;
    margin: 0 auto;
    position: relative;
  }

  .site-footer__info-container {
    position: absolute;
    top: 95px;
  }

  .site-footer__map {
    margin-bottom: 54px;
  }

  .site-footer__links {
    width: 1220px;
    margin: 0 auto;
  }
}
