.story {
  padding: 25px 20px 0;
  background-color: @story-grey;
}

.story__text {
  font-size: 14px;
  line-height: 18px;
}

.story__title {
  margin: 0;
  margin-bottom: 41px;
}

.story__data-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;

  dd {
    margin-left: 0;
  }
}

.story__data-result {
  display: flex;
  grid-column: 1 / -1;
}
